@if ((olympics$ | async)?.length ===  0){
  <p>Failed to load Data</p>
} @else { 
  <p>{{ (olympics$ | async)?.length }} Data(s) successfully loaded</p>
}
<div *ngIf="customOlympics!==undefined" class="graph-title-container">
  <div class="graph-title-name">Distribution of Olympic Medals earned by country</div>
  <div class="stats-container">
    <div class="stat-item">
      <span class="stat-label">Number of OG</span>
      <span class="stat-value">{{ customOlympics[0].ogNumber }}</span>
    </div>
    <div class="stat-item">
      <span class="stat-label">Number of countries</span>
      <span class="stat-value">{{ customOlympics.length }}</span>
    </div>
  </div>
</div>
<div id="chart">
    <apx-chart
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [labels]="chartOptions.labels!"
      [legend]="chartOptions.legend!"
      [dataLabels]="chartOptions.dataLabels!"
      [responsive]="chartOptions.responsive!"
    ></apx-chart>
  </div>
